{{/* Schema.org JSON-LD for Articles */ -}}
{{ if .IsPage }}
{{ if eq .Section "post" }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink | jsonify }}
    },
    "headline": {{ .Title | jsonify }},
    {{- with .Description }}
    "description": {{ . | jsonify }},
    {{- else }}
    "description": {{ .Summary | plainify | truncate 160 | jsonify }},
    {{- end }}
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
    "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
    "author": {
        "@type": "Person",
        "name": {{ .Site.Params.sidebar.subtitle | default .Site.Title | jsonify }},
        "url": {{ .Site.BaseURL | jsonify }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ .Site.Title | jsonify }},
        "logo": {
            "@type": "ImageObject",
            {{- with .Site.Params.sidebar.avatar }}
            {{- if .enabled }}
            {{- if .local }}
            "url": {{ printf "%s%s" .Site.BaseURL .src | jsonify }}
            {{- else }}
            "url": {{ .src | jsonify }}
            {{- end }}
            {{- end }}
            {{- end }}
        }
    },
    "wordCount": {{ .WordCount }},
    "articleSection": {{ with .Params.categories }}{{ index . 0 | jsonify }}{{ else }}"Blog"{{ end }},
    {{- with .Params.tags }}
    "keywords": {{ delimit . ", " | jsonify }},
    {{- end }}
    "inLanguage": {{ .Site.LanguageCode | default "zh-CN" | jsonify }}
}
</script>
{{ end }}
{{ end }}

{{/* Schema.org JSON-LD for Website (on homepage) */ -}}
{{ if .IsHome }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": {{ .Site.Title | jsonify }},
    {{- with .Site.Params.description }}
    "description": {{ . | jsonify }},
    {{- end }}
    "url": {{ .Site.BaseURL | jsonify }},
    "potentialAction": {
        "@type": "SearchAction",
        "target": {
            "@type": "EntryPoint",
            "urlTemplate": {{ printf "%ssearch?q={search_term_string}" .Site.BaseURL | jsonify }}
        },
        "query-input": "required name=search_term_string"
    },
    "inLanguage": {{ .Site.LanguageCode | default "zh-CN" | jsonify }}
}
</script>
{{ end }}